body {
    background-color: #FFF;
    margin: 0 auto;
}

header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* visibility: hidden; */
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
    top: 50px;

}

li:hover {
    color: #DBE9EE;
}

h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
}

h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
}

p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

footer {
    background-color: #DBE9EE;
    text-align: center;
    height: 100px;
}


.welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
}

.question {
    text-align: center;
    position: relative;
    top: 40px;
}

.answer {
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
}

.answer:hover {
    background: #C0D6DF;
    color: #FFF;
}