*{
    padding: 0px;
    margin: 0px;
}

body{
   background-color: #e3e8ef;
}

.logo{
    width: 50%;
    float: left;
    color: white;
}

.logo h1{
    padding-top: 10px;
    padding-bottom: 20px;
}

header{
    background: #415e9b;
    height: 82px;
    border-bottom:  1px solid #133783;

}

.header-block{
    width: 992px;
    margin: 0 auto;
    padding-top: 20px;
}

.facebook-login{
    width: 50%;
    float:left;
}

.header-block label{
    color: #fff;
}

.email{
    float: left;
    margin-top: -20px;
}

.email label{
    padding-bottom: -20px;
    margin-top: -20px; 
}

.email input[type="email"]{
    height: 20px;
    width: 150px;
    border: 1px solid #1d2a5b;
}
.password{
    float: left;
    margin-left: 20px;
    margin-top: -20px;
}

.password a{
    color: #8fb1d8;
    text-decoration: none;
}

.password label{
    padding-bottom: -5px;
    margin-top: -20px; 
}

.password input[type="password"]{
    height: 20px;
    width: 150px;
    border: 1px solid #1d2a5b;
}

.login-button{
    float: left;
    margin-top: -50px;
    margin-left: 200px;
}

.login-button input[type="submit"]{
    background: #4267b2;
    border: 1px solid #29487d;
    border-radius: 2px;
    color: #fff;
    height: 30px;
    width: 50px;
}

.account input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #bdc7db;
}

.clearfix{
    clear:both;
    padding: 40px;
}

.content-block{
    width: 992px;
    margin: -12px auto;
}

.facebook-connect{
    margin-top: -280px;
}

.facebook-connect p{
    color: #0e385f;
    font-size: 20px;
}

.facebook-connect img{
    margin-top: 10px;
}

.create-account{
    float: right;
    width: 100%;
    padding: 0 auto;
    margin-right: 300px;
}

.content-container{
    background: linear-gradient(#fff, #d9ddeb);
}

._mntb {
    font-size: 15;
    max-width: 30px;
}

._mntb {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
}

.pgi {
    margin-left: 0px;
}

._huff {
    outline: none;
}

.a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

._cpk ._cpk {
    color: #777;
    font-size: 11px;
    width: 100px;
}
.p {
    margin: 1em 0;
}


.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.account input[type="submit"] {
    padding: 15px 22px;
    background-color: #66a953;
    border-radius: 2px;
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.duhh{
   font-size: 12px;
 }

 .duhh a{
     margin: 0px 9px 0px 9px;
 }