* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 150px;
    background-color: beige;
}

.header h1 {
    text-align: center;
    padding-top: 20px;
    color: black;
}

.form-user h1 {
    text-align: center;
    padding-top: 20px;
    color: blue;

}

.header a {
    margin-top: 30px;
    text-decoration: none;
    float: left;
    padding-left: 200px;
    color: black;
}

.header a:hover {

    color: pink;
}

.header ul,
li {
    display: block;
    text-decoration: none;
}

.content {
    margin-left: 250px;
}

.content img {
    margin-top: 30px;
    margin-bottom: 40px;
}

#no-telp {
    margin-left: 30px;
}

.form-user {
    width: 80%;
    height: auto;
    background-color: aquamarine;
}

form {
    margin-left: 25%;

}

input{
    padding: 10px;
}

textarea{
    padding: 10px;
}

button{
    background-color: red;
    padding: 20px;
}

.footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: cornflowerblue;
    padding-top: 30px;
    margin-top: 30px;
}
/* h1{
    text-align: center;
    padding-top: 20px;
    color: blue;
} */
/* 
form{
    margin-left: 100px;
} */
