header {
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.logo {
    display: inline-block;
    line-height: 50px;
    float: left;
}

.menu {
    display: inline-block;
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
}

.menu li:hover {
    background-color: #CDDC39;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(64, 61, 221);
    display: block;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
}


@media screen and (max-width:500px) {
    .menu {
        display: inline;
    }

    .menu a:hover {
        color: #fff;
        background: #353535;
    }

    .menu ul li {
        display: block;
        text-align: center;
    }
}



#article-list {
    width: 70%;
    margin-left: 15%;
    background-color: white;
    padding: 20px;
}

h3 {
    color: #403DDD;
    margin-bottom: -10px;
}

h1 {
    font-family: monospace;
    font-size: 2.5em;
}

footer {
    width: 100%;
    background-color: black;
    height: 65px;
    color: white;
    margin-top: 20px;
    margin-left: -8;
    padding-right: 10;
    padding-left: 10;
    display: flex;
}

h5 {
    text-align: center;
    margin-left: 45%;
}